# Banco de Dados
DATABASE_URL=postgresql://user:password@localhost:5432/maturidade_ti

# Segurança
SECRET_KEY=sua_chave_secreta_aqui

# Inteligência Artificial (OpenAI)
OPENAI_API_KEY=sua_openai_key_aqui
